<%- include("header") -%>

<h2>This is  a about page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, hic. Ipsa expedita labore, soluta nemo ex sapiente beatae obcaecati repudiandae numquam quod dolorem perferendis corrupti hic deleniti cumque perspiciatis error.</p>

<%- include("footer") -%>